<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.JenkinsMapper">
    <insert id="addJenkins" parameterType="com.nsfocus.bean.Jenkins" useGeneratedKeys="true" keyProperty="id">
        insert into sd_jenkins VALUES (#{id},#{cloneStyle},#{resp},#{dyScan},#{staScan.id},#{relySecurity.id},#{rsas.id},#{bvs.id});
    </insert>
    <select id="queryJenkinsAll" resultType="com.nsfocus.bean.Jenkins">
    select * from sd_jenkins;
</select>

</mapper>
