@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-size: 100% ;
}
#confirmBox{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 53%;
    margin-left: -235px;
    z-index: 10;
    top: 160px;
    background-color: white;
    border-radius: 8px;
}
#confirmBox{
    display: none;

}


#confirmBox .conformTitle {
    position: absolute;
    font-size: 20px;
    font-weight:600;
    line-height: 140px;
    left: 110px;
    color: grey;
    letter-spacing: 10px;
    border-radius: .25em;

}
#confirmBox .confirmContent{
    position: absolute;
    bottom: 0px;
}

#confirmBox .confirmbtn{
    /*margin-top: 50px;*/
    /*margin:5px 97px;*/
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: #fc7169;
    border: none;
    border-radius: 0 0 0 8px;
    cursor: pointer;

}
#confirmBox .canclebtn{
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: #b6bece;
    border: none;
    border-radius: 0 0 8px 0;
    cursor: pointer;
}

#confirmBox .confirmbtn:hover{
    background-color: orangered;
}
#confirmBox .canclebtn:hover{
    background-color: dimgray;
}